body {
  margin: 0;
  background: linear-gradient(
  45deg,
  #4139d4,
  #9a30ad,
  #9f4bd6
)
}
h1 {
  text-align: center;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 48px;
  margin-top: 100px;
}